In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
import spacy
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file_path = '/Users/gaurisarin/cs4100-movie-recommendation-engine/Datasets/amazonprimemovietitles.csv'
amazonprime_data = pd.read_csv(file_path)
amazonprime_data['service'] = 'Amazon Prime'
amazonprime_data = amazonprime_data.drop(['id','production_countries','seasons', 
                                          'imdb_id','imdb_votes','tmdb_score', 'age_certification'],axis=1)
amazonprime_data.to_csv('amazonprime_data.csv', index=False) 
amazonprime_data.head()

,title,type,description,release_year,runtime,genres,imdb_score,tmdb_popularity,service
0,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,19,"['comedy', 'family', 'animation', 'action', 'f...",8.6,15.424,Amazon Prime
1,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,78,"['action', 'drama', 'war', 'western', 'comedy'...",8.2,8.647,Amazon Prime
2,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,171,"['romance', 'war', 'drama']",8.1,8.435,Amazon Prime
3,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,92,"['comedy', 'drama', 'romance']",7.8,11.270,Amazon Prime
4,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,94,"['thriller', 'drama', 'romance']",7.9,8.273,Amazon Prime

In [3]:
file_path1 = '/Users/gaurisarin/cs4100-movie-recommendation-engine/Datasets/netflixmovietitles.csv'
netflix_data = pd.read_csv(file_path1)
netflix_data['service'] = 'Netflix'
netflix_data = netflix_data.drop(['id','production_countries','seasons', 
                                  'imdb_id','imdb_votes','tmdb_score', 'age_certification'],axis=1)
netflix_data.to_csv('netflix_data.csv', index=False) 
netflix_data.head()

,title,type,description,release_year,runtime,genres,imdb_score,tmdb_popularity,service
0,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,51,['documentation'],NaN,0.600,Netflix
1,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,114,"['drama', 'crime']",8.2,40.965,Netflix
2,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,109,"['drama', 'action', 'thriller', 'european']",7.7,10.010,Netflix
3,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,91,"['fantasy', 'action', 'comedy']",8.2,15.461,Netflix
4,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,150,"['war', 'action']",7.7,20.398,Netflix

In [4]:
file_path2 = '/Users/gaurisarin/cs4100-movie-recommendation-engine/Datasets/hulumovietitles.csv'
hulu_data = pd.read_csv(file_path2)
hulu_data['service'] = 'Hulu'
hulu_data = hulu_data.drop(['id','production_countries','seasons', 
                                  'imdb_id','imdb_votes','tmdb_score', 'age_certification'],axis=1)
hulu_data.to_csv('hulu_data.csv', index=False) 
hulu_data.head()

,title,type,description,release_year,runtime,genres,imdb_score,tmdb_popularity,service
0,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,89,"['music', 'comedy']",8.0,54.345,Hulu
1,M*A*S*H,SHOW,The 4077th Mobile Army Surgical Hospital is st...,1972,26,"['war', 'comedy', 'drama']",8.4,27.308,Hulu
2,I Love Lucy,SHOW,Cuban Bandleader Ricky Ricardo would be happy ...,1951,30,"['comedy', 'family']",8.5,17.088,Hulu
3,Taxi,SHOW,"Louie De Palma is a cantankerous, acerbic taxi...",1978,25,"['drama', 'comedy']",7.7,14.346,Hulu
4,The Mary Tyler Moore Show,SHOW,30-year-old single Mary Richards moves to Minn...,1970,28,['comedy'],8.2,9.290,Hulu

In [5]:
file_path3 = '/Users/gaurisarin/cs4100-movie-recommendation-engine/Datasets/hbomaxmovietitles.csv'
hbomax_data = pd.read_csv(file_path3)
hbomax_data['service'] = 'HBO Max'
hbomax_data = hbomax_data.drop(['id','production_countries','seasons', 
                                  'imdb_id','imdb_votes','tmdb_score', 'age_certification'],axis=1)
hbomax_data.to_csv('hbomax_data.csv', index=False) 
hbomax_data.head()

,title,type,description,release_year,runtime,genres,imdb_score,tmdb_popularity,service
0,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,102,"['fantasy', 'family']",8.1,41.442,HBO Max
1,Citizen Kane,MOVIE,"Newspaper magnate, Charles Foster Kane is take...",1941,119,['drama'],8.3,14.383,HBO Max
2,Casablanca,MOVIE,"In Casablanca, Morocco in December 1941, a cyn...",1942,102,"['drama', 'romance', 'war']",8.5,20.087,HBO Max
3,The Big Sleep,MOVIE,Private Investigator Philip Marlowe is hired b...,1946,116,"['thriller', 'crime']",7.9,12.911,HBO Max
4,The Maltese Falcon,MOVIE,A private detective takes on a case that invol...,1941,100,"['thriller', 'romance', 'crime']",8.0,12.788,HBO Max

In [6]:
file_path4 = '/Users/gaurisarin/cs4100-movie-recommendation-engine/Datasets/disneyplusmovietitles.csv'
disneyplus_data = pd.read_csv(file_path4)
disneyplus_data['service'] = 'Disney Plus'
disneyplus_data = disneyplus_data.drop(['id','production_countries','seasons', 
                                  'imdb_id','imdb_votes','tmdb_score', 'age_certification'],axis=1)
disneyplus_data.to_csv('disneyplus_data.csv', index=False) 
disneyplus_data.head()

,title,type,description,release_year,runtime,genres,imdb_score,tmdb_popularity,service
0,Fantasia,MOVIE,Walt Disney's timeless masterpiece is an extra...,1940,120,"['animation', 'family', 'music', 'fantasy']",7.7,57.751,Disney Plus
1,Snow White and the Seven Dwarfs,MOVIE,"A beautiful girl, Snow White, takes refuge in ...",1937,83,"['fantasy', 'family', 'romance', 'animation', ...",7.6,107.137,Disney Plus
2,Pinocchio,MOVIE,Lonely toymaker Geppetto has his wishes answer...,1940,88,"['animation', 'comedy', 'family', 'fantasy']",7.5,71.160,Disney Plus
3,Bambi,MOVIE,Bambi's tale unfolds from season to season as ...,1942,70,"['animation', 'drama', 'family']",7.3,68.136,Disney Plus
4,Treasure Island,MOVIE,Enchanted by the idea of locating treasure bur...,1950,96,"['family', 'action']",6.9,10.698,Disney Plus

In [7]:
file_path5 = '/Users/gaurisarin/cs4100-movie-recommendation-engine/Datasets/paramountmovietitles.csv'
paramount_data = pd.read_csv(file_path5)
paramount_data['service'] = 'Paramount'
paramount_data = paramount_data.drop(['id','production_countries','seasons', 
                                  'imdb_id','imdb_votes','tmdb_score', 'age_certification'],axis=1)
paramount_data.to_csv('paramount_data.csv', index=False) 
paramount_data.head()

,title,type,description,release_year,runtime,genres,imdb_score,tmdb_popularity,service
0,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,78,"['action', 'drama', 'war', 'western', 'comedy'...",8.2,8.647,Paramount
1,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,92,"['comedy', 'drama', 'romance']",7.8,11.270,Paramount
2,Detour,MOVIE,"The life of Al Roberts, a pianist in a New Yor...",1945,66,"['thriller', 'drama', 'crime']",7.3,7.757,Paramount
3,Marihuana,MOVIE,A young girl named Burma attends a beach party...,1936,57,"['crime', 'drama']",4.0,3.748,Paramount
4,Intolerance: Love's Struggle Throughout the Ages,MOVIE,"The story of a poor young woman, separated by ...",1916,197,"['history', 'drama']",7.7,9.412,Paramount

In [8]:
movies_data = pd.concat([amazonprime_data, netflix_data, hulu_data, hbomax_data, disneyplus_data, paramount_data])
movies_data.to_csv('combined_streaming_data.csv', index=False)
movies_data.head()

,title,type,description,release_year,runtime,genres,imdb_score,tmdb_popularity,service
0,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,19,"['comedy', 'family', 'animation', 'action', 'f...",8.6,15.424,Amazon Prime
1,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,78,"['action', 'drama', 'war', 'western', 'comedy'...",8.2,8.647,Amazon Prime
2,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,171,"['romance', 'war', 'drama']",8.1,8.435,Amazon Prime
3,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,92,"['comedy', 'drama', 'romance']",7.8,11.270,Amazon Prime
4,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,94,"['thriller', 'drama', 'romance']",7.9,8.273,Amazon Prime

In [9]:
# preprocessing data / removing nulls
missing_values = movies_data.isnull().sum()
# print(missing_values)
movies_data_cleaned = movies_data.dropna(subset=['description']).copy()
movies_data_cleaned = movies_data.dropna(subset = ['genres']).copy()

In [10]:
num_rows = len(movies_data_cleaned)
print("Number of rows:", num_rows)

Number of rows: 25773

In [11]:
movies_data_cleaned = movies_data_cleaned[movies_data_cleaned['description'].apply(lambda x: isinstance(x, str))]
print("Number of rows after removal:", len(movies_data_cleaned))

Number of rows after removal: 25592

In [12]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

def lemmatize_(text):
    lemmatizer = WordNetLemmatizer()
    stop_words = set(stopwords.words("english"))
    return ' '.join([lemmatizer.lemmatize(word) for word in text.split() if word not in stop_words])

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/gaurisarin/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/gaurisarin/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/gaurisarin/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [13]:
movies_data_cleaned['description'] = movies_data_cleaned['description'].str.replace('[^\w\s]', '', regex=True)
movies_data_cleaned['description'] = movies_data_cleaned['description'].str.lower()
movies_data_cleaned['description'] = movies_data_cleaned['description'].apply(lemmatize_)

In [14]:
pad_chars = lambda s: s[:400] if len(s) > 400 else s + (' ' * (400 - len(s)))
movies_data_cleaned['description'] = movies_data_cleaned['description'].apply(pad_chars)

In [15]:
movies_data_cleaned['description'].apply(len)

0       400
1       400
2       400
3       400
4       400
       ...
2819    400
2820    400
2822    400
2823    400
2824    400
Name: description, Length: 25592, dtype: int64

In [16]:
# if there are multiple genres then seperating the next genres into a different column 
movies_data_cleaned['genres'] = movies_data_cleaned['genres'].str.replace(r"[\[\]']", '', regex=True)
genres_split = movies_data_cleaned['genres'].str.split(',', expand=True)
for i in range(genres_split.shape[1]):
    movies_data_cleaned[f'genre_{i+1}'] = genres_split[i]
for col in movies_data_cleaned.columns:
    if 'genre_' in col:
        movies_data_cleaned[col] = movies_data_cleaned[col].str.lower().str.strip()

movies_data_cleaned.drop(columns=['genres'], inplace=True)
movies_data_cleaned.head(1)

,title,type,description,release_year,runtime,imdb_score,tmdb_popularity,service,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7,genre_8,genre_9,genre_10,genre_11
0,The Three Stooges,SHOW,three stooge american vaudeville comedy team a...,1934,19,8.6,15.424,Amazon Prime,comedy,family,animation,action,fantasy,horror,None,None,None,None,None

In [17]:
bool_title = movies_data_cleaned['title'] == "Finding Dory"
movies_data_cleaned[bool_title]['description'].item()

'disneypixars finding dory reunites everyones favorite forgetful blue tang dory friend nemo marlin search answer past remember parent learn speak whale                                                                                                                                                                                                                                                          '

In [18]:
bool_title = movies_data_cleaned['title'] == "Finding Nemo"
movies_data_cleaned[bool_title]['description'].item()

'nemo adventurous young clownfish unexpectedly taken great barrier reef home dentist office aquarium worrisome father marlin friendly forgetful fish dory bring nemo home meeting vegetarian shark surfer dude turtle hypnotic jellyfish hungry seagull along way                                                                                                                                                '

In [19]:
#tf-idf
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(min_df=3, max_features=None, 
                                   strip_accents='unicode', analyzer='word', token_pattern=r'\w{1,}',
                                   ngram_range=(1, 3), use_idf=True, smooth_idf=True, sublinear_tf=True,
                                   stop_words='english')
tfidf_matrix = tfidf_vectorizer.fit_transform(movies_data_cleaned['description'])

In [20]:
tfidf_vectorizer = TfidfVectorizer(max_df=0.8, max_features=10000)
tfidf_matrix = tfidf_vectorizer.fit_transform(movies_data_cleaned['description'])
feature_names = tfidf_vectorizer.get_feature_names_out()

def get_top_n_keywords(row, top_n=25):
    sorted_indices = np.argsort(row.toarray()).flatten()[::-1]
    top_n_indices = sorted_indices[:top_n]
    top_n_keywords = [feature_names[i] for i in top_n_indices]
    return top_n_keywords

movies_data_cleaned['Keywords'] = [get_top_n_keywords(row, top_n=5) for row in tfidf_matrix]

movies_data_cleaned[['description', 'Keywords']].head()

,description,Keywords
0,three stooge american vaudeville comedy team a...,"[stooge, active, known, run, farce]"
1,america civil war union spy steal engineer joh...,"[annabelle, johnnie, locomotive, attached, gray]"
2,hope sustains spirit every gi dream day finall...,"[dream, gi, day, arrived, wwii]"
3,hildy journalist former wife newspaper editor ...,"[hildy, walter, steer, inform, baldwin]"
4,aspiring actress begin suspect temperamental b...,"[murderer, actress, aspiring, suspect, boyfriend]"

In [21]:
movies_data_cleaned['Keywords_str'] = movies_data_cleaned['Keywords'].apply(lambda x: ' '.join(x))

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer_keywords = TfidfVectorizer()
tfidf_matrix_keywords = tfidf_vectorizer_keywords.fit_transform(movies_data_cleaned['Keywords_str'])
print("TF-IDF Matrix Keywords shape:", tfidf_matrix_keywords.shape)

TF-IDF Matrix Keywords shape: (25592, 10000)

In [23]:
#training model
genre1_dummies = pd.get_dummies(movies_data_cleaned['genre_1'])
genre2_dummies = pd.get_dummies(movies_data_cleaned['genre_2'])
genre3_dummies = pd.get_dummies(movies_data_cleaned['genre_3'])
genre4_dummies = pd.get_dummies(movies_data_cleaned['genre_4'])
genre5_dummies = pd.get_dummies(movies_data_cleaned['genre_5'])
genre6_dummies = pd.get_dummies(movies_data_cleaned['genre_6'])
genre7_dummies = pd.get_dummies(movies_data_cleaned['genre_7'])

In [24]:
from scipy.sparse import hstack
combined_features = hstack([tfidf_matrix_keywords, genre2_dummies,genre1_dummies, genre3_dummies, genre4_dummies, genre5_dummies, genre6_dummies, genre7_dummies])

In [25]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(combined_features, combined_features)

In [26]:
bool_title = movies_data_cleaned['title'] == "Finding Nemo"
idx_nemo = movies_data_cleaned[bool_title].index.tolist()[0]
bool_title = movies_data_cleaned['title'] == "Finding Dory"
idx_dory = movies_data_cleaned[bool_title].index.tolist()[0]

print(list(enumerate(cosine_sim[idx_dory]))[idx_nemo][1])
list(enumerate(cosine_sim[idx_nemo]))[idx_dory][1]

0.0

0.0

In [27]:
def recommend_movies(title, cosine_sim=cosine_sim, dissimilar=False):
    bool_title = movies_data_cleaned['title'] == title
    idx = movies_data_cleaned[bool_title].index.tolist()[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=not dissimilar)
    sim_scores = sim_scores[0:11]
    print(sim_scores)
    movie_indices = [i[0] for i in sim_scores]
    return movies_data_cleaned['title'][movie_indices]

In [28]:
movies_data_cleaned.reset_index(drop=True, inplace=True)
recommendations = recommend_movies('Finding Dory')
recommendations

[(22188, 0.9999999999999998), (13265, 0.6708203932499369), (21869, 0.6708203932499369), (21996, 0.6708203932499369), (1028, 0.6), (2973, 0.6), (3591, 0.6), (4301, 0.6), (5630, 0.6), (6527, 0.6), (10262, 0.6)]

22188           Finding Dory
13265           No Good Nick
21869            Cadet Kelly
21996                 Jessie
1028          The Gumby Show
2973              Cyberchase
3591               Pet Alien
4301        Scaredy Squirrel
5630         Little Charmers
6527     The Stolen Princess
10262      Fated to Love You
Name: title, dtype: object

In [30]:
recommendations = recommend_movies('Cadet Kelly', dissimilar=True)
recommendations

[(1, 0.0), (4, 0.0), (5, 0.0), (7, 0.0), (9, 0.0), (10, 0.0), (12, 0.0), (13, 0.0), (14, 0.0), (15, 0.0), (16, 0.0)]

1                                          The General
4                                    In a Lonely Place
5                                           Stagecoach
7                                               Detour
9                                            Marihuana
10    Intolerance: Love's Struggle Throughout the Ages
12                            The Phantom of the Opera
13                                  Tell Your Children
14                             The Most Dangerous Game
15                                   Wuthering Heights
16                             The Woman in the Window
Name: title, dtype: object

In [31]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english')

In [32]:
tfidf_matrix_summaries = tfidf_vectorizer.fit_transform(movies_data_cleaned['description'])

In [33]:
def recommend_movies_based_on_input_plot(input_plot, tfidf_vectorizer=tfidf_vectorizer, tfidf_matrix=tfidf_matrix_summaries):
    input_vec = tfidf_vectorizer.transform([input_plot])
    cosine_sim = cosine_similarity(input_vec, tfidf_matrix)
    sim_scores = list(enumerate(cosine_sim[0]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return movies_data_cleaned['title'].iloc[movie_indices]

In [34]:
input_plot = "A story about the adventures in a magical land far away."
recommended_movies = recommend_movies_based_on_input_plot(input_plot)
print(recommended_movies)

22703           Star Wars Vehicle Flythroughs
2647                      The Princess Castle
2730                        American Daughter
22653                        Star Wars Biomes
22718    The Wonderful Winter of Mickey Mouse
19029                         Shrek the Third
13997                         Sillu Karupatti
14814                              Ben & Jody
3585                              D.C. Sniper
5630                          Little Charmers
Name: title, dtype: object

In [35]:
input_plot = "Documentary that features cool investigative journalism"
recommended_movies = recommend_movies_based_on_input_plot(input_plot)
print(recommended_movies)

17354    The New York Times Presents
19976    This Is Life with Lisa Ling
11204                      The Paper
263           I Cover the Waterfront
18127         I Cover the Waterfront
22960         I Cover the Waterfront
592              Back Door to Heaven
23171            Back Door to Heaven
8833                 D/O Parvathamma
19771              The Invisible War
Name: title, dtype: object

In [36]:
input_plot = "Documentary that features investigative journalism"
recommended_movies = recommend_movies_based_on_input_plot(input_plot)
print(recommended_movies)

17354    The New York Times Presents
19976    This Is Life with Lisa Ling
11204                      The Paper
263           I Cover the Waterfront
18127         I Cover the Waterfront
22960         I Cover the Waterfront
8833                 D/O Parvathamma
19771              The Invisible War
9464                         Unheard
7824                    Antervyathaa
Name: title, dtype: object

In [38]:
def recommend_movie(input_plot, preferred_genre, tfidf_vectorizer=tfidf_vectorizer, tfidf_matrix=tfidf_matrix_summaries, movies_data=movies_data_cleaned):
    input_vec = tfidf_vectorizer.transform([input_plot])
    genre_columns = ['genre_1', 'genre_2', 'genre_3', 'genre_4', 'genre_5', 'genre_6', 'genre_7'] 
    filtered_movies = movies_data[genre_columns].apply(lambda x: x.str.contains(preferred_genre, case=False, na=False)).any(axis=1)
    filtered_movies_data = movies_data[filtered_movies]
    if not filtered_movies_data.empty:
        filtered_tfidf_matrix = tfidf_matrix[filtered_movies_data.index]
        cosine_sim = cosine_similarity(input_vec, filtered_tfidf_matrix)
        best_match_idx = cosine_sim.argmax()
        recommended_movie_title = filtered_movies_data.iloc[best_match_idx]['title']
        return recommended_movie_title
    else:
        return "No movies found in the preferred genre."
input_plot = "A young woman's journey through love and heartbreak."
preferred_genre = "Romance"
recommended_movie = recommend_movie(input_plot, preferred_genre)
print(f"Recommended Movie: {recommended_movie}")

Recommended Movie: Two Lovers

In [39]:
def recommend_movie(tfidf_vectorizer=tfidf_vectorizer, tfidf_matrix=tfidf_matrix_summaries, movies_data=movies_data_cleaned):
    input_plot = input("Enter a plot summary: ")
    input_vec = tfidf_vectorizer.transform([input_plot])
    preferred_genre = input("Enter your preferred genre: ")
    genre_columns = ['genre_1', 'genre_2', 'genre_3', 'genre_4', 'genre_5', 'genre_6', 'genre_7']
    filtered_movies = movies_data[genre_columns].apply(lambda x: x.str.contains(preferred_genre, case=False, na=False)).any(axis=1)
    filtered_movies_data = movies_data[filtered_movies]
    if not filtered_movies_data.empty:
        filtered_tfidf_matrix = tfidf_matrix[filtered_movies_data.index]
        cosine_sim = cosine_similarity(input_vec, filtered_tfidf_matrix)
        best_match_idx = cosine_sim.argmax()
        recommended_movie_title = filtered_movies_data.iloc[best_match_idx]['Title']
        return recommended_movie_title
    else:
        return "No movies found in the preferred genre."

# Run the recommendation function and print the recommended movie
recommended_movie = recommend_movie()
print(f"Recommended Movie: {recommended_movie}")

KeyboardInterrupt: Interrupted by user

In [ ]:
def recommend_movie(tfidf_vectorizer=tfidf_vectorizer, tfidf_matrix=tfidf_matrix_summaries, movies_data=movies_data_cleaned):
    input_plot = input("Enter a plot summary: ")
    input_vec = tfidf_vectorizer.transform([input_plot])
    
    preferred_genre = input("Enter your preferred genre: ")
    genre_columns = ['genre_1', 'genre_2', 'genre_3', 'genre_4', 'genre_5', 'genre_6', 'genre_7']
    filtered_by_genre = movies_data[genre_columns].apply(lambda x: x.str.contains(preferred_genre, case=False, na=False)).any(axis=1)
    
    services = ['Netflix', 'Hulu', 'Amazon Prime', 'HBO Max', 'Paramount', 'Disney Plus']
    input_services = input(f"Enter your streaming service(s) from the following options ({', '.join(services)}), separated by commas if multiple: ")
    selected_services = [service.strip() for service in input_services.split(',') if service.strip() in services]
    
    filtered_movies = movies_data[filtered_by_genre & movies_data['service'].isin(selected_services)]
    
    if not filtered_movies.empty:
        filtered_tfidf_matrix = tfidf_matrix[filtered_movies.index]
        cosine_sim = cosine_similarity(input_vec, filtered_tfidf_matrix)
        best_match_idx = cosine_sim.argmax()
        recommended_movie_title = filtered_movies.iloc[best_match_idx]['Title']
        return recommended_movie_title
    else:
        return "No movies found matching the criteria."
recommended_movie = recommend_movie()
print(f"Recommended Movie: {recommended_movie}")

In [45]:
# Example: Recreating the TF-IDF matrix
tfidf_vectorizer = TfidfVectorizer()  # Ensure this uses the same parameters as your original vectorizer
tfidf_matrix = tfidf_vectorizer.fit_transform(movies_data_cleaned['description'])  # Assuming 'plot' is the column with movie plots

In [46]:
# seperate movies_data_cleaned into seperate data sets based on streaming service
# movie recommendation system when streaming service is entered select that data set 
# enter plot
# enter your preferred genre
# outputs list of movies for each of the streaming service that works

In [47]:
streaming_services = ['Netflix', 'Hulu', 'Amazon Prime', 'HBO Max', 'Disney Plus', 'Paramount']
datasets = {service: movies_data_cleaned[movies_data_cleaned['service'] == service] for service in streaming_services}

In [61]:
def recommend_movie_by_services_to_table(streaming_services_input=None, plot=None, preferred_genre=None, tfidf_vectorizer=None, tfidf_matrix=None, datasets=None):
    selected_services = [service.strip() for service in streaming_services_input.split(',')] if streaming_services_input else datasets.keys()
    recommendations = {service: [] for service in selected_services}

    for service in selected_services:
        if service in datasets:
            movies_data = datasets[service]
            if preferred_genre:
                genre_columns = ['genre_1', 'genre_2', 'genre_3', 'genre_4', 'genre_5', 'genre_6', 'genre_7']
                filtered_by_genre = movies_data[genre_columns].apply(lambda x: x.str.contains(preferred_genre, case=False, na=False)).any(axis=1)
                movies_data = movies_data[filtered_by_genre]
            if plot and not movies_data.empty and tfidf_vectorizer and tfidf_matrix is not None:
                input_vec = tfidf_vectorizer.transform([plot])
                cosine_sim = cosine_similarity(input_vec, tfidf_matrix[movies_data.index])
                sim_scores = list(enumerate(cosine_sim[0]))
                sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
                top_indices = [i[0] for i in sim_scores[:5]]
                service_recommendations = movies_data.iloc[top_indices]['title'].tolist()
                recommendations[service].extend(service_recommendations)
            elif not plot and not movies_data.empty:
                service_recommendations = movies_data['title'].tolist()[:5]
                recommendations[service].extend(service_recommendations)

    recommendations_df = pd.DataFrame(dict([(k, pd.Series(v)) for k, v in recommendations.items()]))
    return recommendations_df

In [62]:
input_streaming_services = input("Enter the streaming service(s): ")
input_plot = input("Enter a plot summary: ")
input_genre = input("Enter your preferred genre: ")
recommended_movies_df = recommend_movie_by_services_to_table(input_streaming_services, input_plot, input_genre, tfidf_vectorizer, tfidf_matrix, datasets)
if not recommended_movies_df.empty:
    display(recommended_movies_df)

Enter the streaming service(s):
Enter a plot summary: a love story
Enter your preferred genre: romance

,Netflix,Hulu,Amazon Prime,HBO Max,Disney Plus,Paramount
0,Kiss of Life,Black Love,From Lagos with Love,Jason's Lyric,The Little Mermaid,"Rio, I Love You"
1,Jaane Tu... Ya Jaane Na,Daffodils,Mitwa,Love Life,Lady and the Tramp,100 días para enamorarse
2,Solo el amor,Genius,Ishqeria,The Notebook,West Side Story,Broken Blossoms
3,Luka Chuppi,The 10 Year Plan,Mogra Phulaalaa,Tom Jones,Snowdrop,Daffodils
4,Fine Wine,Corazon Valiente,"Rio, I Love You",Last Night,Bedtime Stories,Lovesick